h2{
    color: #5e068a;
    text-align: center;
    margin-top: 20px;
}
span{
    color:  #bd83da;;
    
}

img{
    height: 300px;
    background-size: cover;
}

.cc1{
    color: #5e068a;
}


.m1{  /*image must be 100%, otherwise
          the other div's contents also comes  */
    width: 100%;
}

.t1{
    transition: 0.25s ease-in-out;
}
.t1:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

/* card css ############################### */


.btn{
    background-color: #5e068a;
    color: white;
}
.btn:hover{
    background-color: #5e068a;
    color: white;
}

.hov:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    transition: 0.25s ease-in-out;
    transform: scale(0.9);


}

/* button ################ */

.bb1{
    width: 140px;
    height: 48px;
    background-color: white;
    color: #5e068a;
    border-color: #5e068a;
    font-weight: 500;
    
   border-radius: 20px;
   margin-left: 45%;

}
